flow1.json
[{"id":"79216964.e6d388","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8e8aa43e.7d8848","type":"rpi-gpio out","z":"79216964.e6d388","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":690,"y":260,"wires":[]},{"id":"e4aa7a26.1eee98","type":"debug","z":"79216964.e6d388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":490,"y":140,"wires":[]},{"id":"80706dd5.209d5","type":"switch","z":"79216964.e6d388","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":300,"wires":[["a4200d82.50306"],["9167d35.19cbb3"]]},{"id":"a4200d82.50306","type":"change","z":"79216964.e6d388","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":200,"wires":[["8e8aa43e.7d8848"]]},{"id":"37274827.b74d98","type":"rpi-gpio in","z":"79216964.e6d388","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":130,"y":240,"wires":[["80706dd5.209d5","e4aa7a26.1eee98"]]},{"id":"9167d35.19cbb3","type":"change","z":"79216964.e6d388","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":300,"wires":[["8e8aa43e.7d8848"]]}]
