flow4.json
[{"id":"8e3ea95c.a60608","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"1abbada5.bf3562","type":"http in","z":"8e3ea95c.a60608","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":190,"y":160,"wires":[["e48f0ee0.2ff1a"]]},{"id":"e48f0ee0.2ff1a","type":"function","z":"8e3ea95c.a60608","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["e05fc6f7.8a4728","b34c60e7.a7b8e"]]},{"id":"bb549c8b.052d3","type":"function","z":"8e3ea95c.a60608","name":"Set GPIO","func":"global.set(\"GPIO\" , msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["b34c60e7.a7b8e"]]},{"id":"20be44ff.ab345c","type":"rpi-gpio in","z":"8e3ea95c.a60608","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":190,"y":320,"wires":[["bb549c8b.052d3"]]},{"id":"e05fc6f7.8a4728","type":"http response","z":"8e3ea95c.a60608","name":"","statusCode":"","headers":{},"x":670,"y":160,"wires":[]},{"id":"b34c60e7.a7b8e","type":"debug","z":"8e3ea95c.a60608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":280,"wires":[]}]
