flow3.json
[{"id":"269e7430.eecb2c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"99b830b6.74bfb","type":"inject","z":"269e7430.eecb2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":160,"wires":[["fb150cae.87c41"]]},{"id":"fb150cae.87c41","type":"function","z":"269e7430.eecb2c","name":"func","func":"msg.headers={\n    DeviceKey: \"FZt7v6EQaZfIBOpv\"\n    };\nmsg.payload=\"Temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["ba5de7b2.277798"]]},{"id":"ba5de7b2.277798","type":"http request","z":"269e7430.eecb2c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DX6FvD0n/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":520,"y":160,"wires":[["6abb1458.7d046c","992825ae.e84848","723119dc.2c2fe8"]]},{"id":"6abb1458.7d046c","type":"function","z":"269e7430.eecb2c","name":"func","func":"msg.headers={\n    DeviceKey: \"FZt7v6EQaZfIBOpv\"\n    };\nmsg.payload=\"Humidity,,55\";\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":300,"wires":[["2f6b2fff.ebfdb"]]},{"id":"2f6b2fff.ebfdb","type":"http request","z":"269e7430.eecb2c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DX6FvD0n/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":860,"y":300,"wires":[["3c59a361.edc48c","a3a7c5cd.4c1138"]]},{"id":"a3a7c5cd.4c1138","type":"debug","z":"269e7430.eecb2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":380,"wires":[]},{"id":"3c59a361.edc48c","type":"http response","z":"269e7430.eecb2c","name":"","statusCode":"","headers":{},"x":1070,"y":280,"wires":[]},{"id":"723119dc.2c2fe8","type":"debug","z":"269e7430.eecb2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":40,"wires":[]},{"id":"992825ae.e84848","type":"http response","z":"269e7430.eecb2c","name":"","statusCode":"","headers":{},"x":790,"y":160,"wires":[]}]
